{% load static %}
<html>
    {% block data-role %}
        <div data-role="page" data-url="{{ request.get_full_path }}"/>
    {% endblock %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'jquery.mobile-1.4.5/jquery.mobile-1.4.5.css' %}">
        <link rel="stylesheet" href="{% static 'jquery.mobile-1.4.5/jquery.mobile.icons-1.4.5.css' %}">
        <script src="{% static 'js/jquery-2.2.4.js' %}"></script>
        <script src="{% static 'jquery.mobile-1.4.5/jquery.mobile-1.4.5.js' %}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
<html>
