<html>
    <head>
        <script src="http://demos.jquerymobile.com/1.4.5/js/jquery.js"></script>
        <style type="text/css">
        select, input{margin-top: 16px; margin-left: 16px; margin-right: 16px; width: 100%;}
    </head>
    <body>
        <form action="{% url 'iaer:iaer-detail' iaer.id %}" method="post">{% csrf_token %}
            <center>
                <div>类别: {{iaer.category}}</div></br>
                <div>金额: {{iaer.money}}</div></br>
                <div>备注: {{iaer.remark}}</div></br>
                <div>日期: {{iaer.created | date:'Y-m-d'}}</div></br></br>
                <input id="submit" type="submit" value="删除" />
            </center>
        </form>
    </body>
</html>
