{% extends "base.html" %}
{% load static %}
{% block head %}        
    <link type="text/css" rel="stylesheet" href="{% static 'css/lightgallery.css' %}" /> 

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
    <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>

    <script src="{% static 'js/lightgallery-all.js' %}"></script>

    <!-- Image Picker -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/image-picker.css' %}" /> 
    <script src="{% static 'js/image-picker.js' %}"></script>

    <!-- lightgallery plugins -->
    <script src="{% static 'js/lg-thumbnail.js' %}"></script>
    <script src="{% static 'js/lg-fullscreen.js' %}"></script>

    <!-- jquery dialog -->
    <script src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui-1.12.1.css' %}" /> 

    <script>
        $(function() {
            var dialog, form;

            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 720,
                width: "80%",
                modal: true,
                buttons: {
                    "确定": addImages,
                    "取消": function() {
                        resetImagePicker();
                    }
                },
                close: function() {
                    resetImagePicker();
                }
            });

            form = dialog.find("form").on("submit", function(event) {
            });

            $("#add-image").button().on("click", function() {
                dialog.dialog("open");
            });

            function addImages() {
                var selected_images = $("div[class='thumbnail selected']").children('img');
                for (var i = 0; i < selected_images.length; i++) {
                    var selected_val = $("#selected_images").val();
                    if (selected_val) {
                        $("#selected_images").val(selected_val + "," + selected_images[i].alt);
                    } else {
                        $("#selected_images").val(selected_images[i].alt);
                    }
                }

                resetImagePicker();
                if (selected_images.length > 0) {
                    form.submit();
                }

                return true;
            }

            function resetImagePicker() {
                form[0].reset();
                $("select").imagepicker({
                    hide_select: true,
                    show_label: false,
                    initialized: undefined,
                    changed: undefined,
                    clicked: undefined,
                    selected: undefined,
                });

                dialog.dialog("close");
            }

            resetImagePicker();

            $("#lightgallery").lightGallery(); 
        });
    </script>
{% endblock %}
{% block content %}        
    <h1>{{title}}</h1>
    <button id="add-image">编辑照片</button></br></br>
    <div id="dialog-form" title="编辑照片" style="display: none;">
        <form method="post">{% csrf_token %}
            <input type="hidden" name="selected_images" id="selected_images" value="" />
            <fieldset>
                <select multiple="multiple" class="image-picker">
                    {% for photo in object_list %}
                    <option data-img-alt="{{photo.id}}" data-img-src="{{photo.get_thumbnail_url}}" value="{{photo.id}}" selected="selected">{{photo.name}}</option>
                    {% endfor %}
                    {% for photo in other_photos %}
                    <option class="thumbnail selected" data-img-alt="{{photo.id}}" data-img-src="{{photo.get_thumbnail_url}}" value="{{photo.id}}">{{photo.name}}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </form>
    </div>
    <div id="lightgallery">
        {% for photo in object_list %}
        {% if gallery.date_format == "1" %}
        <a id="{{photo.exif_datetime_original}}" href="{{ photo.get_image_url }}">
        {% elif user.date_format == "2" %}
        <a id="{{photo.get_age_description}}" href="{{ photo.get_image_url }}">
        {% elif user.date_format == "3" %}
        <a id="{{photo.exif_datetime_original}}" name="{{photo.get_age_description}}" href="{{ photo.get_image_url }}">
        {% else %}
        <a href="{{ photo.get_image_url }}">
        {% endif %}
            <img src="{{ photo.get_thumbnail_url }}" />
        </a>
        {% endfor %}
    </div>
{% endblock %}
