{% load static %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'css/lightgallery.css' %}" /> 
    </head>
    <body>
        <!-- jQuery version must be >= 1.8.0; -->
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

        <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
        <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>

        <script src="{% static 'js/lightgallery.min.js' %}"></script>

        <!-- lightgallery plugins -->
        <script src="{% static 'js/lg-thumbnail.min.js' %}"></script>
        <script src="{% static 'js/lg-fullscreen.min.js' %}"></script>

        {% if photos %}
            {% for photo in photos %}
            <div id="lightgallery">
                <a href="{{ photo.get_url }}">
                    <img src="{{ photo.get_thumbnail_url }}" />
                </a>
            </div>
            {% endfor %}
        {% endif %}

        <script type="text/javascript">
            $(document).ready(function() {
                $("#lightgallery").lightGallery(); 
            });
        </script>
    </body>
    <html>
