{% load static %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'css/lightgallery.css' %}" /> 
        <!-- jQuery version must be >= 1.8.0; -->
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

        <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
        <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>

        <script src="{% static 'js/lightgallery.js' %}"></script>

        <!-- lightgallery plugins -->
        <script src="{% static 'js/lg-thumbnail.js' %}"></script>
        <script src="{% static 'js/lg-fullscreen.js' %}"></script>
    </head>
    <body>
        <div id="lightgallery">
        {% if photo_dict %}
            {% for key, photos in photo_dict %}
                <div style="display:none;">{{ key }}</div>
                {% if photos %}
                    {% for photo in photos %}
                    <a href="{{ photo.get_url }}">
                        <img src="{{ photo.get_thumbnail_url }}" />
                    </a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $("#lightgallery").lightGallery(); 
            });
        </script>
    </body>
<html>
