{% extends "base.html" %}

{% block head %}
<style type="text/css">
a {
    text-decoration: none;
}

tr td {
    font-size: 24px; padding: 8px 0px 0px 0px; width: 40%;
}

a li {
    padding: 8px 0px 0px 0px;
}

a div {
    font-size: 20px; padding: 8px 0px 0px 0px;
}
</style>
{% endblock %}

{% block content %}        
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
    {% for user in object_list %}
    <table width="100%">
        <tr>
            <td>
                <a href="{% url 'photo:user-gallery' user.id%}">
                    {{user.auth_user.username}}
                </a>
            </td>
            <td>
                <a href="{% url 'photo:classification' user.id %}">
                    Init
                </a>
            </td>
            <td>
                <a href="{% url 'photo:reset' user.id %}">
                    Reset
                </a>
            </td>
        </tr>
    </table>
    {% for year, dates in user.get_date_dict %}
        <a href="{% url 'photo:gallery-year-archive' user.id year %}">
            <div>{{year}}</div>
        </a>
        {% for d in dates %}
            <a href="{% url 'photo:gallery-month-archive' user.id year d.month %}">
                <li>{{d|date:'M, Y'}}</li>
            </a>
        {% endfor %}
    {% endfor %}</br></br>
    {% endfor %}
    <a href="{% url 'photo:galleries' %}">
        <div>相册</div>
    </a>
    {% for gallery in galleries %}
        <a href="{% url 'photo:gallery' gallery.title %}">
            <li>{{gallery.title}}</li>
        </a>
    {% endfor %}</br>
{% endblock %}
