# ~/.config/aria2/aria2.config
# run in background
daemon=true
# username
# rpc-user=user
# password
# rpc-passwd=passwd
# sercret
rpc-secret=secret
# rpc
enable-rpc=true
# allow all web permissions
rpc-allow-origin-all=true
# https cryption
# rpc-secure=true
# cryption public key
# rpc-certificate=/home/pi/.config/aria2/example.crt
# cryption private key
# rpc-private-key=/home/pi/.config/aria2/example.key
# Allow external access
rpc-listen-all=true
# RPC port, modify only when the default port is occupied
rpc-listen-port=6800
# Maximum simultaneous downloads, recommended route: 3
max-concurrent-downloads=5
# resume from break point
continue=true
# number of connections to the server
max-connection-per-server=5
# Minimum file shard size, the maximum number of download threads depends on how many slices can be split, which is important for small files
min-split-size=10M
# Maximum number of threads per file, recommended route: 5
split=10
# Download speed limit
max-overall-download-limit=0
# Single file speed limit
max-download-limit=0
# Upload speed limit
max-overall-upload-limit=0
# Single file speed limit
max-upload-limit=0
# Disconnect the connection that is too slow
# lowest-speed-limit=0
# For verification purposes, a release version after 1.16.1 is required.
# referer=*
# File save path, the default is the current boot location (my is an external device, please modify it yourself)
dir=/home/pi/AriaDownloads
# File caching, using the built-in file cache, if you don't believe the Linux kernel file cache and disk built-in cache, you need version 1.16 and above.
# disk-cache=0
# Another way to cache Linux files, make sure that the kernel you are using supports this option before use. It requires 1.15 and above (?)
# enable-mmap=true
# File pre-allocation, which can effectively reduce file fragmentation and improve disk performance. The disadvantage is that the pre-allocation time is longer.
# Time required none < falloc ? trunc << prealloc, falloc and trunc require file system and kernel support
file-allocation=prealloc
# No certificate verification
check-certificate=false
# Save download session
save-session=/home/pi/.config/aria2/aria2.session
input-file=/home/pi/.config/aria2/aria2.session
# Power failure
save-session-interval=60
# Separate each track with ","
bt-tracker=udp://tracker.coppersurfer.tk:6969/announce,udp://tracker.open-internet.nl:6969/announce,udp://tracker.skyts.net:6969/announce,udp://tracker.piratepublic.com:1337/announce,udp://tracker.opentrackr.org:1337/announce,udp://9.rarbg.to:2710/announce,udp://retracker.coltel.ru:2710/announce,udp://pubt.in:2710/announce,udp://public.popcorn-tracker.org:6969/announce,udp://z.crazyhd.com:2710/announce,udp://wambo.club:1337/announce,udp://tracker4.itzmx.com:2710/announce,udp://tracker1.wasabii.com.tw:6969/announce,udp://tracker.zer0day.to:1337/announce,udp://tracker.xku.tv:6969/announce,udp://tracker.vanitycore.co:6969/announce,udp://ipv4.tracker.harry.lu:80/announce,udp://inferno.demonoid.pw:3418/announce,udp://open.facedatabg.net:6969/announce,udp://mgtracker.org:6969/announce
