# ~/.config/aria2/aria2.config
# run in background
daemon=true
# username
# rpc-user=user
# password
# rpc-passwd=passwd
# sercret
rpc-secret=secret
# rpc
enable-rpc=true
# allow all web permissions
rpc-allow-origin-all=true
# https cryption
# rpc-secure=true
# cryption public key
# rpc-certificate=/home/pi/.config/aria2/example.crt
# cryption private key
# rpc-private-key=/home/pi/.config/aria2/example.key
# Allow external access
rpc-listen-all=true
# RPC port, modify only when the default port is occupied
rpc-listen-port=8002
# Maximum simultaneous downloads, recommended route: 3
max-concurrent-downloads=5
# resume from break point
continue=true
Number of connections to the server
Max-connection-per-server=5
# Minimum file shard size, the maximum number of download threads depends on how many slices can be split, which is important for small files
Min-split-size=10M
# Maximum number of threads per file, recommended route: 5
Split=10
# Download speed limit
Max-overall-download-limit=0
# Single file speed limit
Max-download-limit=0
# Upload speed limit
Max-overall-upload-limit=0
# Single file speed limit
Max-upload-limit=0
# Disconnect the connection that is too slow
# lowest-speed-limit=0
# For verification purposes, a release version after 1.16.1 is required.
# referer=*
# File save path, the default is the current boot location (my is an external device, please modify it yourself)
Dir=/home/pi/AriaDownloads
# File caching, using the built-in file cache, if you don't believe the Linux kernel file cache and disk built-in cache, you need version 1.16 and above.
# disk-cache=0
# Another way to cache Linux files, make sure that the kernel you are using supports this option before use. It requires 1.15 and above (?)
# enable-mmap=true
# File pre-allocation, which can effectively reduce file fragmentation and improve disk performance. The disadvantage is that the pre-allocation time is longer.
# Time required none < falloc ? trunc << prealloc, falloc and trunc require file system and kernel support
File-allocation=prealloc
# No certificate verification
Check-certificate=false
# Save download session
Save-session=/home/pi/.config/aria2/aria2.session
Input-file=/home/pi/.config/aria2/aria2.session
# Power failure
Save-session-interval=60
